<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Boot Form Demo</title>
</head>
<body>
<div align="center">
    <h1>Trial Projects Demo Using Spring Boot and Thymeleaf</h1>
    <table style="100%">
        <tr><th>Actions</th></tr>
        <tr><td><a href="/user/register">Click here to register</a></td></tr>
        <tr><td><a href="/user/list">Click here to get a list of users</a></td></tr>
    </table>
</div>
<div><a href="https://www.codejava.net/frameworks/spring-boot/spring-boot-thymeleaf-form-handling-tutorial">Reference</a></div>
</body>
</html>